// content is c
// render if root, in the right category, or in the right section
if (!activecat && !activesection) || (activecat && c.cat == activecat) || (activesection && c.section == activesection)
	// Default: projects url
	- var url = '/' + c.cat + '/' + c.name
	// Publications url just goes to link on research page
	if c.section == 'research'
		- url = '/research#' + c.name

	.simpleitem
		if c.post
			a(href=url)
				img.vertImage(src=c.img_src, alt=c.img_alt)
		else
			img.vertImage(src=c.img_src, alt=c.img_alt)
		.simpledate=c.date
		if c.section == 'projects'
			- var icon = _.findWhere(data.prj_cats, {name: c.cat}).icon
		else
			// c.section == 'research'
			- var icon = _.findWhere(data.research_cats, {name: c.cat}).icon
		.simpleicon: span(class="glyphicon", class=icon)
		div
			if c.post
				a(href=url)
					h2=c.title
			else
				h2=c.title
			p.desc=c.desc
